footer {
    padding: 5px 10px!important;
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-left: 3px solid #0099ff;
    border-top: 1px solid #ccc;
    background: #d4d4d4;
    border-bottom: 3px solid #0198ff;
}
footer span {
    padding-left: 10px;
    color: #15479e;
}