<!-- Header -->
<!-- Logo -->
<div class="col-sm-12 no-padding clearfix">
    <a href="#" class="logo"> <span class="logo-mini">
            <h2>LOGO</h2>
    </span> <span class="logo-lg">
            <h2>LOGO</h2>
    </span>
    </a>
    <!-- end Logo -->
    <!-- Header Navbar-->
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle show-desktop" data-toggle="push-menu"
            role="button"> <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </a>

        <!-- <a href="#" class="logo-mobile">
              <span class="logo-lg">
                <img th:src="@{/static/images/logo.png}" class="logo-blue"/>
                <img th:src="@{/static/images/logo-white.png}" class="logo-white"/>
                <img th:src="@{/static/images/logo-red.png}" class="logo-red"/>
              </span>
            </a> -->
        <div class="navbar-custom-menu">
            <div class="nav navbar-right pull-right">
                <ul class="info-user content-nav-right">
                    <li class="gr-btn-change-color">
                        <button class="btn-color-gray">
                            <i class="fa fa-square" aria-hidden="true"></i>
                        </button>
                        <button class="btn-color-light-blue">
                            <i class="fa fa-square" aria-hidden="true"></i>
                        </button>
                        <button class="btn-color-red">
                            <i class="fa fa-square" aria-hidden="true"></i>
                        </button> <!-- 
                     <button class="btn-color-blue">
                      <i class="fa fa-square" aria-hidden="true"></i>
                    </button>
                    <button class="btn-color-purple">
                      <i class="fa fa-square" aria-hidden="true"></i>
                    </button>
                  -->
                    </li>
                    <li class="dropdown gr-notifi"><a> <i
                            class="fa fa-user-o" aria-hidden="true"></i> <span
                            class="notifi"> <span id="countSession"></span>
                        </span>
                    </a></li>
                    <li class="dropdown item-oclock gr-notifi"><a
                        class="dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="true"> <i class="fa fa-clock-o"
                            aria-hidden="true"></i> <span class="notifi">5</span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a>Sub 123</a></li>
                            <li><a>Sub 123</a></li>
                            <li><a>Sub 123</a></li>
                        </ul></li>
                    <li class="dropdown gr-notifi"><a
                        class="dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="true"> <i class="fa fa-file-o"
                            aria-hidden="true"></i> <span class="notifi">5</span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a>Sub 123</a></li>
                            <li><a>Sub 123</a></li>
                            <li><a>Sub 123</a></li>
                        </ul></li>
                    <li class="dropdown gr-notifi"><a
                        class="dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="true"> <i class="fa fa-envelope-open"
                            aria-hidden="true"></i> <span class="notifi">5</span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a>Sub 123</a></li>
                            <li><a>Sub 123</a></li>
                            <li><a>Sub 123</a></li>
                        </ul></li>
                    <li class="dropdown"><a
                        class="dropdown-toggle dropdown-info-user"
                        data-toggle="dropdown" aria-expanded="true"> <img
                            th:src="@{/static/images/avata.png}"
                            class="img-avata" /> <span class="text-welcome">Welcome</span>
                            <!-- th:text="${#authentication.principal.fullname}" -->
                            <p class="name-user">Guests</p>
                    </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a style="cursor: pointer;" th:href="@{/login}" class="btn-flat">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <span th:text="Login"> Login</span>
                                </a>
                            </li>
                            <li><a class="time"> <i
                                    class="fa fa-clock-o" aria-hidden="true"></i>
                                    <span id="date_time"></span> <script
                                        type="text/javascript">window.onload = date_time('date_time');</script></a>
                            </li>
                            <li><a class="logout"
                                th:href="@{/j_spring_security_logout}"
                                id="logout"> <i class="fa fa-sign-out"
                                    aria-hidden="true"></i>Log out
                            </a></li>
                        </ul></li>
                    <li class="language"><a
                        onclick="changeLang('${url}', 'en');"
                        href="javascript:void(0);"> <img
                            th:src="@{/static/images/en_flat.png}" />
                    </a>&nbsp;&nbsp; <a onclick="changeLang('${url}', 'vi');"
                        href="javascript:void(0);"> <img
                            th:src="@{/static/images/vn_flat.png}" />
                    </a></li>
                </ul>
            </div>
        </div>
        <!-- Menu header right -->
        <div class="col-xs-12 clearfix btn-menu-mobile no-padding">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu"
                role="button"> <span class="sr-only">Toggle
                    navigation</span> <span class="icon-bar"></span> <span
                class="icon-bar"></span> <span class="icon-bar"></span>
            </a>
            <ul class="breadcrumb">
                <li><a href="#"> Home</a></li>
                <li><a href="#">Dashboard</a></li>
            </ul>
        </div>
        <!-- end Menu header right -->
    </nav>
    <script type="text/javascript" th:src="@{/static/js/core-index.js}"></script>
</div>

<!-- end Header Navbar -->
<!-- end Header -->