<section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
        <ul class="nav sidebar-menu">
            <li>
                <a>
                    <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
                    <span class="text-main" th:text="${menuDto.code}"></span>
                </a>
            </li>
            <th:block th:each="menu1: ${menuDto.listSubMenu}" >
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i>
                        <span th:text="${menu1.code}"></span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" th:if="${menu1.listSubMenu.size() > 0}">
                        <th:block th:each="menu2: ${menu1.listSubMenu}">
                            <li>
                                <a id="linkList" th:href="${menu2.link}">
                                    <i class="fa fa-home"></i>
                                    <span th:text="${menu2.code}"></span>
                                        <span class="pull-right-container">
                                    </span>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </li>
            </th:block>
        </ul>
    </ul>
</section>
