<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="title-head clearfix">
       <div class="col-sm-9 col-xs-7 no-padding">
            <h3><i class="fa fa-table"></i> <span th:text="Home2">Tiêu đề trang</span></h3>
       </div>
       <div class="col-sm-3 col-xs-5 icon-head">
         <div class="pull-right">
             <a>
                <i class="fa fa-arrow-circle-left icon-head-red" id="linkList"></i>
             </a>
             <a>
                <i class="fa fa-plus-circle icon-head-red" id="add"></i>
             </a>
          </div>
       </div>
    </div>
    
    
    </body>
</html>