html body{
    font-family: 'Roboto', sans-serif!important;
    font-size: 12px;
}
body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Roboto', sans-serif!important;
}

.required:after {
	color: red !important;
	font-size: 14px !important;
	content: " *" !important;
}

.form .required{
    font-size: 16px;
    color: #00a0df;
}

.error {
    color: red !important;
}

body{
	padding-bottom: 40px;
    /*background: url(../images/bg-body.jpg) fixed;*/
    background-size: 100% 100%
}
.no-padding{
	padding-left: 0!important;
	padding-right: 0!important;
}
select{
	border: 1px solid #ccc;
}
@-moz-document url-prefix() { 
  	.pagination select{
     	padding: 6px!important;
  	}
}
@-ms-viewport {
  width: auto !important;
}
.form-control{
	border-radius: 4px!important;
	height: 27px;
	font-size: 12px;
	padding: 3px 5px;
	box-shadow: none!important
}	
.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0
}
.form-group{
	margin-bottom: 5px
}	
.p-0{
	padding-left: 0!important;
	padding-right: 0!important;
}	
.m-0{
	margin-right:0;
	margin-left: 0
}
.mt-5{
	display: inline-block;
	margin-top: 5px
}
.no-pleft{
	padding-left: 0
}
.no-ptop{
	padding-top: 0px
}
.no-pright{
	padding-right: 0
}
.no-btn{
	background: none;
	border: none;
	padding: 0;
	outline: none
}
.input-group .input-group-addon {
    border-radius: 0 4px 4px 0;
    padding: 3px 6px;
    height: auto;
    font-size: 13px
}
.input-group .form-control {
    border-radius: 4px 0 0 4px!important
}
.ms-options li{
	list-style: none;
	cursor: pointer
}
.ms-options ul{
	padding-left: 0px
}
.ms-options-wrap > .ms-options > .ms-search input{
	border-radius: 0;
	border-bottom: 1px solid #aaa;
}
.ms-options-wrap > .ms-options > ul input[type="checkbox"]{
	top: 2px!important
}
.select2-container .select2-selection--single .select2-selection__rendered{
	margin-top: 0
}
.alert{
	padding: 10px
}
.alert h4{
	font-size: 16px;
    margin-bottom: 5px;
}
.alert .close{
	color: #fff;
	opacity: 1;
	right: 0
}
.textbox.combo{
	width: 100%!important;
	border-radius: 4px
}
.combo-arrow {
    background-position: 0 5px!important;
}
.avatar{
	float: left
}
.avatar .img-thumbnail{
	width: 120px
}
.edit-img{
	color: #ee9c12;
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer
}
.datepicker{
	padding: 0!important
}
.box-acc-policy{
	border: 1px solid #c4e3ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background: #ecf6ff;
}
.select-page{
	height: 27px!important
}
.error{
	color: #ff0000
}
/*custom select*/
.u-custom-select {
    background-color: #fff;
   /* border: 1px solid #ccc;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
    border-radius: 4px;
    /*height: 30px*/
}
.u-custom-select:before {
    color: #333;
    display: block;
    font-family: 'FontAwesome';
    position: absolute;
    top: 5px;
    right: 7px;
    text-align: center;
    z-index: 9;
    background-color: transparent !important;
}
.u-custom-select select {
    background-color: transparent;
   /* border: 0 none;*/
    box-shadow: none;
    color: #333;
    display: block;
    line-height: normal;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 15px 0 5px!important;
    height: 27px!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.u-custom-select select::-ms-expand {
    display: none;  /*to ie 10 */
}
.u-custom-select select:focus {
    outline: 0!important;
}
.u-custom-select select:hover {
    cursor: pointer;
}
:-moz-any(.u-custom-select):before {
    background-color: #fff;
    pointer-events: none; 
    z-index: 1; 
}
.input-group select.form-control{
	border-radius: 4px!important
}
.input-group select.form-control.select-page{
	border-radius: 4px 0 0 4px!important
}
.drop-select{
	width: 100%;
	background: 100%
}
.icon-select-list .dropdown-menu>li>a.fa{
	font-family: fontAwesome,Roboto
}
.icon-select-list .dropdown-menu>li>a.fa:before{
	padding-right: 5px
}
.datepicker-days .active.day{
	background: #09f!important
}
.unit-menu-tree .unit-tree{
	overflow: auto
}
.ms-options-wrap > .ms-options > ul label{
	margin: 0!important
}
.ms-options-wrap > .ms-options > ul li.selected label, .ms-options-wrap > .ms-options > ul label:hover{
	background-color: #0099ff!important;
	color: #fff
}

/* Dots font using for field password to fix auto complete password  */
@font-face {
  font-family: 'dotsfont';
  src: url('../dotsfont/dotsfont.eot');
  src: url('../dotsfont/dotsfont.eot?#iefix') format('embedded-opentype'),
       url('../dotsfont/dotsfont.woff') format('woff'),
       url('../dotsfont/dotsfont.ttf') format('truetype'),
       url('../dotsfont/dotsfont.svg#dotsfontregular') format('svg');
}
  
input.dotsfont {
	font-family: 'dotsfont';
}
.box-send-mail input.form-control,.box-send-mail textarea{
	border: none;
	border-bottom: 1px solid #999999;
	border-radius: 0!important;
}
.box-send-mail label{
	margin: 0
}
.textarea-body-mail textarea{
	min-height: 300px;
	max-width: 100%;
	min-width: 100%;
	border-bottom: 1px solid #ccc!important;
    border: none;
    font-size: 13px;
    color: #333;
    border-radius: 0
}
.einput-2{
    position: relative;
    margin-bottom: 10px
}
.einput-2>input{
    border-bottom: 1px solid #ccc!important;
    border: none;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    padding: 12px 0 2px 0;
    height: 33px;
    transition: all .2s ease-in-out;
    font-size: 13px;
    background: transparent;
}
.einput-2>input[value=""]:focus~label.lb-einput,.einput-2>input:valid~label.lb-einput{
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .2s ease-in-out;
    margin: 0;
    line-height: 1;
    font-weight: bold
}
.einput-2>input[value=""]~label.lb-einput{
    font-size: 13px;
    position: absolute;
    top: 11px;
    left: 0px;
    color: #333;
    transition: all .2s ease-in-out;
}
.einput-2>input:focus{
    outline: none!important;
    box-shadow: none!important
}
.flex-box{
	display: flex
}
.box-upload-tpl{
	border: 1px solid #ccc;
	padding: 10px;
	background: #fff
}
.lb-bcc{
	position: absolute;
    right: 0px;
    top: 11px;
    font-weight: bold!important;
    cursor: pointer
}
.box-body-email-list .note-editable{
	min-height: 250px;	
}
.note-toolbar{
	z-index: 1
}
.box-upload-tpl .select2-container{
	width: 100%!important
}
.bg-content .form-group .nav-tabs>li>a{
	padding: 4px 15px
}
.form-control[disabled], .form-control[readonly],label.form-control{
	background-color: #f4f4f4
}
.datepicker-dropdown {
	z-index: 1031;
}
.input-group .input-group-addon{
	background-color: #f0f0f0;
}
.input-upload-1 input{
	background: #fff!important
}
td.holiday {
	background: #ffd503;
	color: #104f94;
	font-weight: bold;
}
.popupHoliday .modal-header {
	background: #fff;
	border-color: none;
}
.popupHoliday .modal-header .close{
	color: #333;
	opacity: 1;
}
.popupHoliday .modal-footer {
	border-top: 1px solid #f4f4f4;
}

.popupHoliday .modal-content {
	border-radius: 5px;
	border: 2px solid #fff;
}

#tableHoliday tbody tr:hover td.holiday {
	background: #ffd503;
}

#tableHoliday tbody tr td:hover {
	background: #004fb6;
    cursor: pointer;
    color: #fff;
}
#tableHoliday tbody tr:hover{
	background: #03d1ff0d;
}
.einput-2 input:focus{
	border-color: #0099ff!important
}
.cursor-tr tbody tr:hover{
	cursor: pointer
}
.w100{
	width: 100%
}
.td-btn-width button{
	min-width: 74px
}
.icon-head .glyphicon-floppy-disk:before{
	content: "\f0c7";
	font-family: FontAwesome;
}
.file-name-box{
	 border: 1px solid #ccc;
    border-radius: 40px;
    padding: 1px 8px;
    background: #fff;
    display: inline-block;
    float: left;
    margin: 1px 2px;
    
}
.input-upload-1 .input-group-addon{
	background: #fff
}
.box-list-file{
	height: auto;
	min-height: 27px
}
.resize-popup {
    float: right;
    background: none;
    border: none;
    margin-top: 3px;
    font-size: 14px;
    margin-right: 7px;
    outline: none
}
.popup-resize .resize-popup i:before {
    content: "\f2d2";
    font-family: FontAwesome;
}
.modal-dialog{
	transition: all .3s ease-in-out!important;
}
.popup-resize .modal-dialog {
    width: 99%!important;
    
}
.modal-email .modal-body{
	max-height: calc(100vh - 220px);
	overflow-y: auto
}
.modal-email .modal-content{
	height: 90vh;
}
span.cut-text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
        width: 370px; /* note that this width will have to be smaller to see the effect */
}
label.align-top{
	margin-top: 4px
}
#id-box-org-detail .glyphicon.icon-head-red{
	font-size: 19px;
}
.gr-btn-footer-popup{
	border-top: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #333333;
    padding: 0.571em 1em;
    margin: 0;
    text-align: right;
    position: relative;
    top: -1px;
	
}
	